---
import Layout from '../layouts/Layout.astro';
import BookShowcase from '../components/sections/BookShowcase.astro';
import Synopsis from '../components/sections/Synopsis.astro';
import SampleText from '../components/sections/SampleText.astro';
import Background from '../components/sections/Background.astro';
import Reviews from '../components/sections/Reviews.astro';
import Author from '../components/sections/Author.astro';
import Gallery from '../components/sections/Gallery.astro';
import Buy from '../components/sections/Buy.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout title="The Fall of Ugarit | A Novella by Michael Cope">
  <main>
    <BookShowcase />
    <Synopsis />
    <SampleText />
    <Background />
    <Gallery />
    <Reviews />
    <Author />
    <Buy />
  </main>
  <Footer />
</Layout>
